fastapi
uvicorn[standard]
gunicorn
SQLAlchemy
alembic
psycopg[binary]
python-dotenv
PyYAML
PyJWT
Werkzeug
boto3
python-multipart
pytest
factory_boy
httpx
llama-cpp-python
openai
python-docx
python-pptx
openpyxl
pypdf
